## **Segmenting and Clustering Neighborhoods in Toronto**

In [43]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [0]:
url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(url.content, "html.parser")

In [46]:
table_body=soup.find('tbody')
table_rows = table_body.find_all('tr')
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td]
    l.append(row)

#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
df = pd.DataFrame(l, columns=["Postcode", "Borough", "Neighborhood"])   
df.head()
#df.shape

  Postcode       Borough      Neighborhood
0     None          None              None
1      M1A  Not assigned      Not assigned
2      M2A  Not assigned      Not assigned
3      M3A    North York         Parkwoods
4      M4A    North York  Victoria Village

In [0]:
df2 = df[df["Borough"] != "Not assigned"]
df2 = df2.groupby(['Postcode', 'Borough'])['Neighborhood'].apply(','.join).reset_index()
df2['Neighborhood'] = np.where(df2['Neighborhood'] == 'Not assigned', df2["Borough"], df2['Neighborhood'])

In [48]:
df2.shape

(103, 3)